# SDL2 local installment files
third-party/SDL2/
third-party/sdl-build/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

**/.DS_Store

# JetBrains IDE
.idea

third-party/sdl-build/
third-party/SDL2/

/source/simple
/tests/build/run_tests

# Group 15 needs to fix this created file
tests/DataFileManagerTest.csv